.toolbar{
  font-weight: 800;
  color:rgb(118, 119, 119);
  text-align: center;
}

.background{
  --background: linear-gradient(#399fffb0,#399fff28, #ffff);
}

.toolbar-color{
  --background: linear-gradient(#399fffb0,#399fff28,);
}
