.toolbar{
  font-weight: 800;
  color:rgb(255, 255, 255);
  text-align: center;
}

.background{
  --background: linear-gradient(#3f1509d3,#3f15093a, #ffff);
}

.toolbar-color{
  --background: linear-gradient(#399fffb0,#399fff28,);
}
