.toolbar{
  font-weight: 800;
  color:rgb(8, 68, 87);
  text-align: center;
}

.background{
  --background: linear-gradient(#39ff85b0,#39ffce28, #ffff);
}

.toolbar-color{
  --background: linear-gradient(#399fffb0,#399fff28,);
}
